.to{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 600px;
  width: 100%;

}
.list{
  height: 600px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* background-color: antiquewhite; */
}
