.bdy{
  min-height: 100vh ;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color:cadetblue;
}
.cont{
  height: 450px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond ;
  flex-direction: column;
  border-radius: 30px;
}
.cont input{
  height: 40px;
  width: 300px;
  border-radius: 30px;
}
.btn{
  display: flex;
  gap: 10px;
}
 .btn input{
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: space-between; 
}